Repository ldyrmishiritech/genassist: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

azure-pipelines-backend.yml:
  name: GenAssist-GitHub-Backend_$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    name: Ritech-AI-TR1
  steps:
  - checkout: self
    clean: true
    fetchTags: true
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 8.X
    inputs:
      version: 8.x
  - task: gittools.gittools.setup-gitversion-task.gitversion/setup@3
  ...

azure-pipelines-frontend.yml:
  name: GenAssist-GitHub-Frontend_$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    name: Ritech-AI-TR1
  workspace:
    clean: all
  steps:
  - checkout: self
    fetchDepth: 0
  - task: NodeTool@0
    displayName: Use Node 18.x
    inputs:
      versionSpec: 18.x
  - task: InstallSSHKey@0
    displayName: Install an SSH key (az devops)
  ...

rename last migration
  backend/alembic/versions/00059_test_evaluations.py
Due: azure-pipelines-backend.yml

move repo related logic from service to repo
  backend/app/repositories/test_suite.py
  backend/app/services/test_suite.py
Due: azure-pipelines-backend.yml

fix div on click that didnt work when pressing the tick
  frontend/src/views/AIAgents/Workflows/nodeDialogs/GuardrailNliDialog.tsx
  frontend/src/views/TestSuites/components/EvaluationWizard.tsx
Due: azure-pipelines-frontend.yml

update details page - set input as textarea
  frontend/src/views/TestSuites/pages/DatasetDetailPage.tsx
Due: azure-pipelines-frontend.yml

set first record open by default
  frontend/src/views/TestSuites/pages/DatasetDetailPage.tsx
Due: azure-pipelines-frontend.yml

soft delete when doing replacement of dataset from conversation
  backend/app/repositories/test_suite.py
  backend/app/services/test_suite.py
Due: azure-pipelines-backend.yml

feat: enhance error handling and user feedback in KnowledgeBaseForm
  frontend/src/views/KnowledgeBase/pages/KnowledgeBaseForm.tsx
Due: azure-pipelines-frontend.yml

add use memory option that creates a random thread id to use when evaluating a workflow with a dataset
  backend/app/services/test_suite.py
  frontend/src/views/TestSuites/pages/EvaluationDetailPage.tsx
  frontend/src/views/TestSuites/pages/EvaluationsPage.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

feat: enforce unique email constraint for non-deleted users
  backend/alembic/versions/00060_users_email_unique_active.py
  backend/app/db/models/user.py
  backend/app/repositories/users.py
  backend/app/services/users.py
  backend/tests/unit/test_user_service.py
Due: azure-pipelines-backend.yml

add eval permissions in seed
  backend/app/db/seed/seed.py
Due: azure-pipelines-backend.yml

enhancement: copy paste functionality of multiple nodes in workflow builder
  frontend/src/views/AIAgents/Workflows/GraphFlow.tsx
Due: azure-pipelines-frontend.yml

fix: include has_welcome_image in formData destructuring in AgentForm component
  frontend/src/views/AIAgents/components/AgentForm.tsx
Due: azure-pipelines-frontend.yml

pii for chat history
  backend/app/modules/workflow/engine/pii_anonymizer_mixin.py
  backend/tests/unit/test_pii_anonymizer_mixin.py
Due: azure-pipelines-backend.yml

feat: integrate Sentry for error tracking and monitoring
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.tsx
  frontend/src/plugins/instrument.js
  frontend/src/vite-env.d.ts
  frontend/yarn.lock
Due: azure-pipelines-frontend.yml

chore: update genassist-chat-react to version 1.0.37
  frontend/package-lock.json
  frontend/package.json
  frontend/yarn.lock
  plugins/react/package-lock.json
  plugins/react/package.json
Due: azure-pipelines-frontend.yml

optimize history masking
  backend/app/modules/workflow/engine/pii_anonymizer_mixin.py
Due: azure-pipelines-backend.yml

chore: update genassist-chat-react to version 1.0.38-rc.0 and enhance npm release scripts
  plugins/react/.gitignore
  plugins/react/README.md
  plugins/react/package-lock.json
  plugins/react/package.json
Due: none

feat: Generate train files in OpenAI fine tuning (#603)
  backend/app/api/v1/routes/open_ai_fine_tuning.py
  backend/app/core/exceptions/error_messages.py
  backend/app/core/utils/bi_utils.py
  backend/app/repositories/agent_response_log.py
  backend/app/repositories/conversations.py
  backend/app/repositories/openai_fine_tuning.py
  backend/app/schemas/open_ai_fine_tuning.py
  backend/app/services/open_ai_fine_tuning.py
  backend/openapi.json
  frontend/src/services/openaiFineTune.ts
  frontend/src/views/FineTune/components/FineTuneJobDialog.tsx
  frontend/src/views/FineTune/components/GenerateFromConversationsDialog.tsx
  frontend/src/views/FineTune/pages/FineTune.tsx
  frontend/src/views/FineTune/pages/FineTuneJobDetail.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

fetch evals results when completed
  backend/openapi.json
  frontend/src/views/TestSuites/pages/EvaluationDetailPage.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

add evaluation permissions to be used in eval and dataset related endpoints
  backend/app/api/v1/routes/test_evaluations.py
  backend/app/api/v1/routes/test_runs.py
  backend/app/api/v1/routes/test_suites.py
  backend/app/core/permissions/constants.py
Due: azure-pipelines-backend.yml

separate evaluation and dataset related endpoints into respective routes
  backend/app/api/v1/routes/__init__.py
  backend/app/api/v1/routes/test_suites.py
Due: azure-pipelines-backend.yml

ad the routes
  backend/app/api/v1/routes/test_cases.py
  backend/app/api/v1/routes/test_evaluations.py
  backend/app/api/v1/routes/test_runs.py
Due: azure-pipelines-backend.yml

Remove default for required parameters (#604)
  backend/app/modules/workflow/agents/react_agent_lc.py
Due: azure-pipelines-backend.yml

enhancement: Knowledge base form redesign (#606)
  backend/app/modules/data/config.py
  backend/app/modules/data/schema_utils.py
  backend/app/schemas/dynamic_form_schemas/agent_rag_form_schemas.py
  frontend/src/views/KnowledgeBase/components/DynamicRagConfigSection.tsx
  frontend/src/views/KnowledgeBase/components/DynamicRagField.tsx
  frontend/src/views/KnowledgeBase/pages/KnowledgeBaseForm.tsx
  frontend/src/views/KnowledgeBase/utils/ragDefaults.ts
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

feat: add CSV export functionality for LLM cost rates and backfill updated_at field (#605)
  backend/alembic/versions/00061_backfill_llm_cost_rates_updated_at.py
  backend/app/api/v1/routes/llm_cost_rates.py
  backend/app/db/models/llm_cost_rate.py
  backend/app/repositories/llm_cost_rates.py
  backend/app/services/llm_cost_rates.py
  backend/openapi.json
  frontend/src/services/llmCostRates.ts
  frontend/src/views/LlmProviders/components/LlmCostRatesDialog.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

put evaluations as background task in celery instead of blocking api call
  backend/app/__init__.py
  backend/app/api/v1/routes/test_suites.py
  backend/app/services/test_suite.py
  backend/app/tasks/test_suite_tasks.py
  backend/openapi.json
  frontend/src/views/TestSuites/pages/EvaluationDetailPage.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

feat: add opt-in PII masking for LLM and Agent nodes
  backend/app/modules/workflow/engine/nodes/agent_node.py
  backend/app/modules/workflow/engine/nodes/llm_model_node.py
  backend/app/modules/workflow/engine/pii_anonymizer.py
  backend/app/modules/workflow/engine/pii_anonymizer_mixin.py
  backend/app/schemas/dynamic_form_schemas/nodes/agent_schema.py
  backend/app/schemas/dynamic_form_schemas/nodes/llm_model_schema.py
  backend/requirements-main.txt
  backend/tests/unit/test_pii_anonymizer.py
  backend/tests/unit/test_pii_anonymizer_mixin.py
  docs/features/pii-masking.md
  frontend/src/views/AIAgents/Workflows/components/ModelConfiguration.tsx
  frontend/src/views/AIAgents/Workflows/nodeTypes/llm/definitions.ts
  frontend/src/views/AIAgents/Workflows/types/nodes.ts
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

enhancement: refactor Google Cloud settings retrieval in transcription tasks (#607)
  backend/app/tasks/share_folder_tasks.py
Due: azure-pipelines-backend.yml

Fix: MCP server update (#600)
  backend/app/repositories/mcp_server.py
  frontend/src/views/MCPServers/components/MCPServerDialog.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

bug: add missing dialog file (#608)
  frontend/src/views/FineTune/components/SelectExistingFileDialog.tsx
Due: azure-pipelines-frontend.yml

fix: call of tools with unmasked parameters when PII masking is enabled
  backend/app/modules/workflow/engine/nodes/agent_node.py
  backend/app/modules/workflow/engine/pii_anonymizer.py
  backend/app/modules/workflow/engine/pii_anonymizer_mixin.py
Due: azure-pipelines-backend.yml

Enhancement: Implement file management features and improve form handling (#602)
  backend/app/schemas/file.py
  backend/app/services/file_manager.py
  frontend/src/Routes.tsx
  frontend/src/components/SchemaFormRenderer/index.tsx
  frontend/src/components/TagsFieldInput.tsx
  frontend/src/config/api.ts
  frontend/src/services/fileManager.ts
  frontend/src/views/Settings/components/FileManagerSettingsCard.tsx
  frontend/src/views/Settings/pages/FileManagerFiles.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

change description
  backend/app/db/seed/seed.py
Due: azure-pipelines-backend.yml

feat: enhance Sentry integration for error tracking and user context
  frontend/.env.template
  frontend/src/config/api.ts
  frontend/src/context/PermissionContext.tsx
  frontend/src/plugins/instrument.js
  frontend/src/plugins/sentryErrorEvent.ts
  frontend/src/plugins/sentryUserSync.ts
  frontend/src/services/auth.ts
Due: azure-pipelines-frontend.yml

enhancement: update TrainDataSourceDialog to support CSV file URL (#631)
  frontend/src/views/AIAgents/Workflows/nodeDialogs/training/TrainDataSourceDialog.tsx
Due: azure-pipelines-frontend.yml

use not in condition
  backend/app/api/v1/routes/internal.py
Due: azure-pipelines-backend.yml

fix: update FileManager to support file download URL types and improve UI layout options
  frontend/src/helpers/utils.ts
  frontend/src/views/Settings/pages/FileManagerFiles.tsx
Due: azure-pipelines-frontend.yml

refactor: logo, moved to shared component
  frontend/src/components/GenAssistLogo.tsx
  frontend/src/hooks/usePersistedState.ts
  frontend/src/layout/app-sidebar.tsx
  frontend/src/views/Login/pages/Login.tsx
  frontend/src/views/Register/pages/Register.tsx
Due: azure-pipelines-frontend.yml

feat: add custom attributes to conversations for filtering and analytics
  backend/alembic/versions/00061_add_custom_attributes_to_conversations.py
  backend/app/__init__.py
  backend/app/api/v1/routes/analytics.py
  backend/app/core/config/settings.py
  backend/app/core/utils/custom_attributes.py
  backend/app/db/models/conversation.py
  backend/app/repositories/analytics_read.py
  backend/app/repositories/conversations.py
  backend/app/schemas/conversation.py
  backend/app/schemas/filter.py
  backend/app/services/analytics_read.py
  backend/app/services/conversations.py
  backend/app/tasks/backfill_custom_attributes.py
  backend/app/use_cases/chat_as_client_use_case.py
  backend/openapi.json
  frontend/src/interfaces/transcript.interface.ts
  frontend/src/services/analyticsReports.ts
  frontend/src/services/transcripts.ts
  frontend/src/views/Analytics/components/reports/AttributeBreakdownChart.tsx
  frontend/src/views/Analytics/pages/Analytics.tsx
  frontend/src/views/Transcripts/helpers/transformers.ts
  frontend/src/views/Transcripts/hooks/useTranscriptData.ts
  frontend/src/views/Transcripts/pages/Transcripts.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

add group memberships in get all users add user group menu for create update delete assign user group to and filter by for users assign supervised group to supervisors
  backend/app/repositories/users.py
  backend/app/schemas/user.py
  backend/app/schemas/user_group.py
  backend/app/services/user_groups.py
  backend/openapi.json
  frontend/src/Routes.tsx
  frontend/src/interfaces/user.interface.ts
  frontend/src/interfaces/userGroup.interface.ts
  frontend/src/layout/app-sidebar.tsx
  frontend/src/services/userGroups.ts
  frontend/src/views/UserGroups/Index.tsx
  frontend/src/views/UserGroups/components/UserGroupDialog.tsx
  frontend/src/views/UserGroups/components/UserGroupsCard.tsx
  frontend/src/views/UserGroups/pages/UserGroups.tsx
  frontend/src/views/Users/components/UserDialog.tsx
  frontend/src/views/Users/components/UsersCard.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Path conditions:
  azure-pipelines-backend.yml: any of: backend
  azure-pipelines-frontend.yml: any of: frontend
