Repository ldyrmishiritech/genassist: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

azure-pipelines-backend.yml:
  name: GenAssist-GitHub-Backend_$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    name: Ritech-AI-TR1
  steps:
  - checkout: self
    clean: true
    fetchTags: true
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 8.X
    inputs:
      version: 8.x
  - task: gittools.gittools.setup-gitversion-task.gitversion/setup@3
  ...

azure-pipelines-frontend.yml:
  name: GenAssist-GitHub-Frontend_$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    name: Ritech-AI-TR1
  workspace:
    clean: all
  steps:
  - checkout: self
    fetchDepth: 0
  - task: NodeTool@0
    displayName: Use Node 18.x
    inputs:
      versionSpec: 18.x
  - task: InstallSSHKey@0
    displayName: Install an SSH key (az devops)
  ...

refactor: update websocket authentication for dashboard endpoint
  backend/app/api/v1/routes/conversations.py
Due: azure-pipelines-backend.yml

refactor: update file download logic and enhance file manager UI
  frontend/src/services/fileManager.ts
  frontend/src/views/Settings/pages/FileManagerFiles.tsx
Due: azure-pipelines-frontend.yml

fix migrations
  backend/alembic/versions/00063_user_groups.py
  backend/alembic/versions/00064_user_supervised_groups.py
Due: azure-pipelines-backend.yml

refactor: improve error handling in file uploader component
  frontend/src/components/FileUploader.tsx
Due: azure-pipelines-frontend.yml

feat: add group_id field to OpenAPI schema and update GlobalChat component to use tenantId
  backend/openapi.json
  frontend/src/components/GlobalChat.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

merge: resolve merge conflicts
  backend/alembic/versions/00065_api_key_rotation_and_credential_expiry.py
  backend/openapi.json
Due: azure-pipelines-backend.yml

add manual group filtering in get_conversation_feedback_counts extract method for set user context
  backend/app/auth/dependencies.py
  backend/app/repositories/dashboard.py
Due: azure-pipelines-backend.yml

update: filter message
  backend/app/schemas/filter.py
Due: azure-pipelines-backend.yml

feat: add delete functionality for API keys
  frontend/src/views/ApiKeys/components/ApiKeysCard.tsx
  frontend/src/views/ApiKeys/pages/ApiKeys.tsx
Due: azure-pipelines-frontend.yml

hotfix: increase validate pkl file validation timeout
  backend/app/core/utils/model_validator.py
  backend/app/services/ml_model_manager.py
Due: azure-pipelines-backend.yml

fix: update file download logic in analyze_csv function
  backend/app/api/v1/routes/ml_models.py
Due: azure-pipelines-backend.yml

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Due: azure-pipelines-frontend.yml

fix: plugins/react/package.json & plugins/react/package-lock.json to reduce vulnerabilities
  plugins/react/package-lock.json
  plugins/react/package.json
Due: none

Path conditions:
  azure-pipelines-backend.yml: any of: backend
  azure-pipelines-frontend.yml: any of: frontend
