Repository ldyrmishiritech/genassist: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Path conditions:
  azure-pipelines-backend.yml: any of: backend
  azure-pipelines-frontend.yml: any of: frontend

bypass group filter for agent conversation related logic
  backend/app/repositories/agent.py
  backend/openapi.json
Due: azure-pipelines-backend.yml

add information banner explaining where group filter is used
  frontend/src/views/UserGroups/pages/UserGroups.tsx
Due: azure-pipelines-frontend.yml

feat: implement API key rotation and credential expiry features
  .gitignore
  backend/alembic/versions/00063_api_key_rotation_and_credential_expiry.py
  backend/app/api/v1/routes/api_keys.py
  backend/app/core/exceptions/error_messages.py
  backend/app/db/models/api_key.py
  backend/app/repositories/api_keys.py
  backend/app/schemas/api_key.py
  backend/app/services/api_keys.py
  backend/openapi.json
  frontend/src/components/alert-dialog.tsx
  frontend/src/components/api-keys/ApiKeyExpiryLines.tsx
  frontend/src/components/api-keys/RotateApiKeyDialog.tsx
  frontend/src/components/api-keys/apiKeyExpiryPresets.ts
  frontend/src/components/ui/select.tsx
  frontend/src/interfaces/api-key.interface.ts
  frontend/src/services/apiKeys.ts
  frontend/src/views/AIAgents/components/Keys/ApiKeyForm.tsx
  frontend/src/views/AIAgents/components/Keys/ManageApiKeysModal.tsx
  frontend/src/views/ApiKeys/components/ApiKeyDialog.tsx
  frontend/src/views/ApiKeys/components/ApiKeyDialogLogic.tsx
  frontend/src/views/ApiKeys/components/ApiKeysCard.tsx
  frontend/src/views/ApiKeys/pages/ApiKeys.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

refactor: update Sentry integration to use new initialization module
  frontend/src/main.tsx
  frontend/src/plugins/sentryErrorEvent.ts
  frontend/src/plugins/sentryInit.js
Due: azure-pipelines-frontend.yml

fix: improve WebSocket error handling and re-order API key initialization in ChatAsCustomer component
  frontend/src/views/AIAgents/components/Customer/ChatAsCustomer.tsx
Due: azure-pipelines-frontend.yml

refactor: Update AgentForm component to improve image loading logic and auto-expand advanced settings
  frontend/src/views/AIAgents/components/AgentForm.tsx
Due: azure-pipelines-frontend.yml

remove parent group id in anticipation of using a table of user_supervised_groups
  backend/alembic/versions/00062_user_groups.py
  backend/app/db/models/user_group.py
  backend/app/schemas/user_group.py
Due: azure-pipelines-backend.yml

enhancement: enhance menu styling
  frontend/src/hooks/usePersistedState.ts
  frontend/src/layout/app-sidebar.tsx
Due: azure-pipelines-frontend.yml

add user supervised groups
  backend/alembic/versions/00063_user_supervised_groups.py
  backend/app/api/v1/routes/user_groups.py
  backend/app/auth/dependencies.py
  backend/app/db/events/group_scope.py
  backend/app/db/models/__init__.py
  backend/app/db/models/user.py
  backend/app/db/models/user_group.py
  backend/app/db/models/user_supervised_group.py
  backend/app/repositories/users.py
  backend/app/schemas/user.py
  backend/app/services/user_groups.py
  backend/openapi.json
Due: azure-pipelines-backend.yml

refactor: enhance ML model inference and training nodes to support new model response structure
  backend/app/modules/workflow/engine/nodes/ml/ml_model_inference_node.py
  backend/app/modules/workflow/engine/nodes/ml/train_model_node.py
  backend/app/services/ml_model_manager.py
Due: azure-pipelines-backend.yml

fix: add new "use for filter" property to the chatInputNode parameters
  backend/app/core/utils/custom_attributes.py
  backend/app/repositories/analytics_read.py
  backend/app/tasks/backfill_custom_attributes.py
  backend/app/use_cases/chat_as_client_use_case.py
  frontend/src/views/AIAgents/Workflows/components/custom/ParameterSection.tsx
  frontend/src/views/AIAgents/Workflows/nodeTypes/chat/chatInputNode.tsx
  frontend/src/views/AIAgents/Workflows/types/schemas.ts
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

fix pr comments
  backend/app/core/utils/custom_attributes.py
Due: azure-pipelines-backend.yml

add user group global logic for filtering rows apply user group logic filtering to agents add manual filtering for non entity but subset of entity queries
  backend/alembic/versions/00062_user_groups.py
  backend/app/api/v1/routes/__init__.py
  backend/app/api/v1/routes/user_groups.py
  backend/app/auth/dependencies.py
  backend/app/core/permissions/constants.py
  backend/app/db/events/__init__.py
  backend/app/db/events/group_scope.py
  backend/app/db/models/__init__.py
  backend/app/db/models/agent.py
  backend/app/db/models/user.py
  backend/app/db/models/user_group.py
  backend/app/dependencies/dependency_injection.py
  backend/app/repositories/agent.py
  backend/app/repositories/user_groups.py
  backend/app/schemas/user.py
  backend/app/schemas/user_group.py
  backend/app/services/gpt_questions.py
  backend/app/services/user_groups.py
  backend/openapi.json
  frontend/package-lock.json
  frontend/yarn.lock
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

update migration
  backend/alembic/versions/00062_add_custom_attributes_to_conversations.py
  backend/openapi.json
Due: azure-pipelines-backend.yml

fix: mask PII information with fake data
  backend/app/modules/workflow/engine/pii_anonymizer.py
  backend/tests/unit/test_pii_anonymizer.py
  backend/tests/unit/test_pii_anonymizer_mixin.py
Due: azure-pipelines-backend.yml

enhancement: Improve pagination Zendesk integration
  backend/app/modules/integration/zendesk.py
Due: azure-pipelines-backend.yml

fix: evaluations performance
  backend/alembic/versions/00063_add_indexes_to_eval_tables.py
  backend/app/api/v1/routes/llm_providers.py
  backend/app/api/v1/routes/test_runs.py
  backend/app/api/v1/routes/workflows.py
  backend/app/db/models/test_suite.py
  backend/app/repositories/llm_providers.py
  backend/app/repositories/test_suite.py
  backend/app/repositories/workflow.py
  backend/app/schemas/llm.py
  backend/app/schemas/test_suite.py
  backend/app/schemas/workflow.py
  backend/app/services/llm_providers.py
  backend/app/services/test_suite.py
  backend/app/services/workflow.py
  backend/openapi.json
  frontend/src/interfaces/llmProvider.interface.ts
  frontend/src/interfaces/workflow.interface.ts
  frontend/src/services/llmProviders.ts
  frontend/src/services/testSuites.ts
  frontend/src/services/workflows.ts
  frontend/src/views/TestSuites/components/EvaluationWizard.tsx
  frontend/src/views/TestSuites/pages/DatasetsPage.tsx
  frontend/src/views/TestSuites/pages/EvaluationDetailPage.tsx
  frontend/src/views/TestSuites/pages/EvaluationsPage.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

add group scope to conversations remove filter of operator that created the conversation to allow seeing conversations from same group
  backend/app/db/models/conversation.py
  backend/app/repositories/conversations.py
  backend/app/services/conversations.py
  frontend/src/views/UserGroups/pages/UserGroups.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

feat: enhance chat functionality and UI improvements
  plugins/flutter/example/lib/main.dart
  plugins/flutter/lib/src/services/chat_service.dart
  plugins/flutter/lib/src/state/chat_state.dart
  plugins/flutter/lib/src/widgets/chat_header.dart
  plugins/flutter/lib/src/widgets/chat_input_bar.dart
  plugins/flutter/lib/src/widgets/chat_message_bubble.dart
  plugins/flutter/lib/src/widgets/chat_message_list.dart
  plugins/flutter/lib/src/widgets/gen_agent_chat.dart
  plugins/flutter/lib/src/widgets/welcome_card.dart
Due: none

refactor: replace constant primaryColor with theme-based color in chat input bar and welcome card
  plugins/flutter/lib/src/widgets/chat_input_bar.dart
  plugins/flutter/lib/src/widgets/chat_message_bubble.dart
  plugins/flutter/lib/src/widgets/welcome_card.dart
Due: none

chore: replaced pip with uv
  backend/Dockerfile
  backend/app/Dockerfile
  backend/scripts/export_pip_requirements.sh
  backend/whisper_ext/Dockerfile.whisper
  docs/pip-to-uv-migration.md
  websocket/Dockerfile
Due: azure-pipelines-backend.yml

feat: Enhance chat functionality with audio input and improved message handling
  plugins/flutter/example/ios/Runner/Info.plist
  plugins/flutter/example/lib/main.dart
  plugins/flutter/example/macos/Runner/DebugProfile.entitlements
  plugins/flutter/example/macos/Runner/Info.plist
  plugins/flutter/example/macos/Runner/Release.entitlements
  plugins/flutter/lib/src/services/chat_service.dart
  plugins/flutter/lib/src/services/websocket_service.dart
  plugins/flutter/lib/src/state/chat_state.dart
  plugins/flutter/lib/src/widgets/chat_input_bar.dart
  plugins/flutter/lib/src/widgets/chat_message_bubble.dart
  plugins/flutter/lib/src/widgets/interactive_content_widget.dart
  plugins/flutter/lib/src/widgets/voice_input_button.dart
  plugins/flutter/lib/src/widgets/welcome_card.dart
Due: none

feat: Add optional tenant support for conversation persistence and update related components
  plugins/flutter/README.md
  plugins/flutter/example/lib/main.dart
  plugins/flutter/lib/src/services/chat_service.dart
  plugins/flutter/lib/src/services/storage_service.dart
  plugins/flutter/lib/src/state/chat_state.dart
  plugins/flutter/lib/src/widgets/chat_input_bar.dart
Due: none

feat: implement local fine-tuning feature with job management
  frontend/.env.template
  frontend/src/Routes.tsx
  frontend/src/config/localFineTune.ts
  frontend/src/interfaces/localFineTune.interface.ts
  frontend/src/layout/app-sidebar.tsx
  frontend/src/services/localFineTune.ts
  frontend/src/views/LocalFineTune/Index.tsx
  frontend/src/views/LocalFineTune/components/LocalFineTuneJobDialog.tsx
  frontend/src/views/LocalFineTune/components/LocalFineTuneJobsCard.tsx
  frontend/src/views/LocalFineTune/pages/LocalFineTune.tsx
  frontend/src/views/LocalFineTune/pages/LocalFineTuneJobDetail.tsx
Due: azure-pipelines-frontend.yml

feat: enhance local fine-tuning job dialog with model selection and file management integration
  frontend/src/interfaces/file-manager.interface.ts
  frontend/src/interfaces/localFineTune.interface.ts
  frontend/src/services/fileManager.ts
  frontend/src/services/localFineTune.ts
  frontend/src/views/LocalFineTune/components/LocalFineTuneJobDialog.tsx
Due: azure-pipelines-frontend.yml

feat: add group_id to user creation and update processes
  backend/app/repositories/users.py
  backend/app/schemas/user.py
  frontend/src/services/users.ts
  frontend/src/views/Users/components/UserDialog.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

feat: add credential expiry settings for API keys
  backend/alembic/versions/00067_store_api_key_expiry_setting.py
  backend/app/db/models/api_key.py
  backend/app/repositories/api_keys.py
  backend/app/schemas/api_key.py
  backend/openapi.json
  frontend/src/components/tooltip-button.tsx
  frontend/src/components/tooltip.tsx
  frontend/src/interfaces/api-key.interface.ts
  frontend/src/services/apiKeys.ts
  frontend/src/views/ApiKeys/components/ApiKeyDialog.tsx
  frontend/src/views/ApiKeys/components/ApiKeyDialogLogic.tsx
  frontend/src/views/ApiKeys/components/ApiKeysCard.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

refactor: enhance file uploader component with download functionality
  frontend/src/components/FileUploader.tsx
Due: azure-pipelines-frontend.yml

feat: Refactor Local Fine-Tune components and introduce hooks for job management
  backend/app/api/v1/routes/file_manager.py
  backend/app/repositories/file_manager.py
  backend/app/services/file_manager.py
  frontend/src/components/scroll-area.tsx
  frontend/src/hooks/useLocalFineTuneJobs.ts
  frontend/src/interfaces/localFineTune.interface.ts
  frontend/src/services/fileManager.ts
  frontend/src/services/localFineTune.ts
  frontend/src/views/FineTune/components/AccuracyOverStepsChart.tsx
  frontend/src/views/FineTune/components/JobSummaryStatsCard.tsx
  frontend/src/views/FineTune/utils/utils.ts
  frontend/src/views/LocalFineTune/components/LocalFineTuneJobDialog.tsx
  frontend/src/views/LocalFineTune/components/LocalFineTuneJobsCard.tsx
  frontend/src/views/LocalFineTune/components/LocalFineTuneListSummary.tsx
  frontend/src/views/LocalFineTune/pages/LocalFineTune.tsx
  frontend/src/views/LocalFineTune/pages/LocalFineTuneJobDetail.tsx
  frontend/src/views/LocalFineTune/utils/jobDisplayName.ts
  frontend/src/views/LocalFineTune/utils/trainingEvents.ts
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

security: update axios package version
  frontend/package-lock.json
  frontend/package.json
  frontend/yarn.lock
  plugins/react/package-lock.json
  plugins/react/package.json
Due: azure-pipelines-frontend.yml

feat: add full text search for conversations
  backend/alembic/versions/00068_add_full_text_search_to_messages.py
  backend/app/db/models/message_model.py
  backend/app/repositories/conversations.py
  backend/app/schemas/filter.py
  backend/openapi.json
  frontend/src/services/transcripts.ts
  frontend/src/views/Transcripts/hooks/useTranscriptData.ts
  frontend/src/views/Transcripts/pages/Transcripts.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

merge file manager
  frontend/src/services/fileManager.ts
Due: azure-pipelines-frontend.yml

fix PR comments
  backend/app/core/config/settings.py
  backend/app/services/transcription.py
Due: azure-pipelines-backend.yml

removed ci
  frontend/package-lock.json
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines-frontend.yml

fix: transcribe long audios
  backend/app/core/config/settings.py
  backend/app/core/utils/s3_utils.py
  backend/app/services/transcription.py
  backend/app/tasks/audio_tasks.py
  backend/app/tasks/kb_batch_tasks.py
  backend/requirements-app.txt
Due: azure-pipelines-backend.yml

refactor: update file download implementation in file manager
  frontend/src/services/fileManager.ts
  frontend/src/views/Settings/pages/FileManagerFiles.tsx
Due: azure-pipelines-frontend.yml

feat: enhance user supervision features in UserDialog and UsersCard components
  frontend/src/views/Users/components/UserDialog.tsx
  frontend/src/views/Users/components/UsersCard.tsx
Due: azure-pipelines-frontend.yml

merge: fix merge conflicts
  backend/alembic/versions/00066_add_indexes_to_eval_tables.py
  backend/app/services/gpt_questions.py
Due: azure-pipelines-backend.yml
