Repository ldyrmishiritech/genassist: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

azure-pipelines-backend.yml:
  name: GenAssist-GitHub-Backend_$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    name: Ritech-AI-TR1
  steps:
  - checkout: self
    clean: true
    fetchTags: true
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 8.X
    inputs:
      version: 8.x
  - task: gittools.gittools.setup-gitversion-task.gitversion/setup@3
  ...

azure-pipelines-frontend.yml:
  name: GenAssist-GitHub-Frontend_$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    name: Ritech-AI-TR1
  workspace:
    clean: all
  steps:
  - checkout: self
    fetchDepth: 0
  - task: NodeTool@0
    displayName: Use Node 18.x
    inputs:
      versionSpec: 18.x
  - task: InstallSSHKey@0
    displayName: Install an SSH key (az devops)
  ...

fix: upgrade lucide-react from 0.462.0 to 0.562.0
  frontend/package-lock.json
  frontend/package.json
Due: azure-pipelines-frontend.yml

fix: upgrade next-themes from 0.3.0 to 0.4.6
  frontend/package-lock.json
  frontend/package.json
Due: azure-pipelines-frontend.yml

fix: backend/requirements-main.txt to reduce vulnerabilities
  backend/requirements-main.txt
Due: azure-pipelines-backend.yml

security: [SNYK ISSUE] update google api python client version
  backend/requirements-app.txt
Due: azure-pipelines-backend.yml

security: update nginx image to 1.29.6
  frontend/Dockerfile
Due: azure-pipelines-frontend.yml

fix: backend/requirements-app.txt to reduce vulnerabilities
  backend/requirements-app.txt
Due: azure-pipelines-backend.yml

feat: add has_welcome_image property and enhance AgentForm functionality (#580)
  backend/app/cache/redis_cache.py
  backend/app/services/agent_config.py
  frontend/src/interfaces/ai-agent.interface.ts
  frontend/src/services/api.ts
  frontend/src/views/AIAgents/components/AgentForm.tsx
  frontend/src/views/AIAgents/components/AgentList.tsx
  frontend/src/views/Settings/components/TranslationDialog.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

feat: implement role deletion restrictions and enhance error handling
  backend/app/core/exceptions/error_messages.py
  backend/app/core/exceptions/exception_handler.py
  backend/app/repositories/roles.py
  backend/app/services/roles.py
  backend/tests/unit/test_roles_service.py
  frontend/src/views/Roles/components/RolesCard.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

refactor: streamline file management routes and enhance security checks | snyk code test (#579)
  backend/app/api/v1/routes/file_manager.py
  backend/app/api/v1/routes/ml_model_pipeline.py
  backend/app/api/v1/routes/recordings.py
  backend/app/core/utils/file_system_utils.py
  backend/app/core/utils/redirect_utils.py
  backend/tests/unit/test_llm_providers_service.py
Due: azure-pipelines-backend.yml

feat: enhance user roles handling and update settings interface
  backend/app/api/v1/routes/auth.py
  backend/app/auth/utils.py
  backend/app/services/conversations.py
  backend/app/services/users.py
  frontend/src/interfaces/settings.interface.ts
  frontend/src/interfaces/user.interface.ts
  frontend/src/views/Settings/components/SettingSection.tsx
  frontend/src/views/Settings/helpers/settingsData.ts
  frontend/src/views/Settings/pages/Settings.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

fix: analytics timezone issue (#581)
  frontend/src/helpers/analyticsParams.ts
  frontend/src/views/Analytics/pages/AgentPerformancePage.tsx
  frontend/src/views/Analytics/pages/NodeAnalyticsPage.tsx
Due: azure-pipelines-frontend.yml

feat: implement user soft delete and restore functionality
  backend/app/api/v1/routes/users.py
  backend/app/auth/dependencies.py
  backend/app/core/exceptions/error_messages.py
  backend/app/core/permissions/constants.py
  backend/app/repositories/users.py
  backend/app/schemas/filter.py
  backend/app/schemas/user.py
  backend/app/services/users.py
  backend/openapi.json
  frontend/src/components/ActionButtons.tsx
  frontend/src/components/ConfirmDialog.tsx
  frontend/src/context/PermissionContext.tsx
  frontend/src/interfaces/user.interface.ts
  frontend/src/services/auth.ts
  frontend/src/services/users.ts
  frontend/src/views/Users/components/UsersCard.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

feat: update settings interface to replace
  frontend/src/interfaces/settings.interface.ts
  frontend/src/views/Settings/components/SettingSection.tsx
  frontend/src/views/Settings/helpers/settingsData.ts
  frontend/src/views/Settings/pages/Settings.tsx
Due: azure-pipelines-frontend.yml

fix: update soft-delete user description for clarity
  frontend/src/views/Users/components/UsersCard.tsx
Due: azure-pipelines-frontend.yml

Feat: Workflow Evaluation and Guardrails (#556)
  backend/alembic/versions/00051_add_settings_and_llm_analyst_to_agent_and_conversation.py
  backend/alembic/versions/00053_test_suites.py
  backend/alembic/versions/00054_make_test_suite_workflow_optional.py
  backend/alembic/versions/00055_add_execution_trace_to_test_results.py
  backend/alembic/versions/00056_test_evaluations.py
  backend/app/api/v1/routes/__init__.py
  backend/app/api/v1/routes/test_suites.py
  backend/app/api/v1/routes/workflows.py
  backend/app/constants/__init__.py
  backend/app/constants/nli_models.py
  backend/app/db/models/test_suite.py
  backend/app/db/models/workflow.py
  backend/app/modules/workflow/engine/nodes/__init__.py
  backend/app/modules/workflow/engine/nodes/guardrail_nli_node.py
  backend/app/modules/workflow/engine/nodes/guardrail_provenance_node.py
  backend/app/modules/workflow/engine/nodes/local_nli_model.py
  backend/app/modules/workflow/engine/workflow_engine.py
  backend/app/repositories/test_suite.py
  backend/app/schemas/test_suite.py
  backend/app/services/test_suite.py
  backend/openapi.json
  frontend/src/Routes.tsx
  frontend/src/interfaces/testEvaluation.interface.ts
  frontend/src/interfaces/testSuite.interface.ts
  frontend/src/layout/app-sidebar.tsx
  frontend/src/services/testEvaluations.ts
  frontend/src/services/testSuites.ts
  frontend/src/views/AIAgents/Workflows/nodeDialogs/GuardrailNliDialog.tsx
  frontend/src/views/AIAgents/Workflows/nodeDialogs/GuardrailProvenanceDialog.tsx
  frontend/src/views/AIAgents/Workflows/nodeTypes/index.ts
  frontend/src/views/AIAgents/Workflows/nodeTypes/utils/definitions.ts
  frontend/src/views/AIAgents/Workflows/nodeTypes/utils/guardrailNliNode.tsx
  frontend/src/views/AIAgents/Workflows/nodeTypes/utils/guardrailProvenanceNode.tsx
  frontend/src/views/AIAgents/Workflows/types/nodes.ts
  frontend/src/views/TestSuites/Index.tsx
  frontend/src/views/TestSuites/components/TestSectionLayout.tsx
  frontend/src/views/TestSuites/pages/DatasetDetailPage.tsx
  frontend/src/views/TestSuites/pages/DatasetsPage.tsx
  frontend/src/views/TestSuites/pages/EvaluationDetailPage.tsx
  frontend/src/views/TestSuites/pages/EvaluationsPage.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

add error messages when trying to delete suite that is related to existing evaluations
  backend/app/core/exceptions/error_messages.py
  backend/app/repositories/test_suite.py
  backend/app/services/test_suite.py
  frontend/src/views/TestSuites/pages/DatasetsPage.tsx
  frontend/src/views/TestSuites/pages/EvaluationsPage.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

chore: update genassist-chat-react to version 1.0.36 and adjust chat component styling
  frontend/package.json
  plugins/react/package-lock.json
  plugins/react/package.json
  plugins/react/src/components/GenAgentChat.tsx
Due: azure-pipelines-frontend.yml

refactor: rename unique index for user emails and update error handling in UserDialog
  backend/alembic/versions/00060_users_email_unique_active.py
  frontend/src/views/Users/components/UserDialog.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

optimize imports
  frontend/src/views/TestSuites/pages/DatasetsPage.tsx
  frontend/src/views/TestSuites/pages/EvaluationsPage.tsx
Due: azure-pipelines-frontend.yml

feat: enforce unique email constraint across all users, including soft-deleted
  backend/alembic/versions/00060_users_email_unique_active.py
  backend/app/db/models/user.py
  backend/app/repositories/users.py
  backend/app/services/operators.py
  backend/app/services/users.py
  backend/tests/unit/test_user_service.py
Due: azure-pipelines-backend.yml

add filter by id for upload conversations in datasets
  backend/app/repositories/conversations.py
  backend/app/schemas/filter.py
  backend/openapi.json
  frontend/src/services/transcripts.ts
  frontend/src/views/TestSuites/pages/DatasetsPage.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

add edit/delete evaluation entry
  frontend/src/services/testEvaluations.ts
  frontend/src/views/TestSuites/pages/EvaluationsPage.tsx
Due: azure-pipelines-frontend.yml

allow import from multiple conversations
  frontend/src/views/TestSuites/pages/DatasetDetailPage.tsx
Due: azure-pipelines-frontend.yml

add conversation direct import in datasets for test suite
  backend/app/api/v1/routes/test_suites.py
  backend/app/core/utils/transcript_utils.py
  backend/app/repositories/conversations.py
  backend/app/schemas/filter.py
  backend/app/schemas/test_suite.py
  backend/app/services/test_suite.py
  backend/openapi.json
  frontend/package-lock.json
  frontend/src/services/testSuites.ts
  frontend/src/services/transcripts.ts
  frontend/src/views/TestSuites/pages/DatasetDetailPage.tsx
  frontend/yarn.lock
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

soft delete datasets and related evaluations add confirmation dialog that will delete all
  backend/app/repositories/db_repository.py
  backend/app/repositories/test_suite.py
  backend/app/services/test_suite.py
  frontend/src/components/ConfirmDialog.tsx
  frontend/src/views/AIAgents/Workflows/nodeDialogs/GuardrailProvenanceDialog.tsx
  frontend/src/views/TestSuites/pages/DatasetsPage.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

refactor: extract MessageFeedbackButton component and enhance feedback handling
  frontend/src/views/Transcripts/components/MessageFeedbackPopover.tsx
  frontend/src/views/Transcripts/components/TranscriptDialog.tsx
Due: azure-pipelines-frontend.yml

enhancement: evaluations
  frontend/src/components/JsonInput.tsx
  frontend/src/views/TestSuites/components/EvaluationWizard.tsx
  frontend/src/views/TestSuites/pages/DatasetDetailPage.tsx
  frontend/src/views/TestSuites/pages/DatasetsPage.tsx
  frontend/src/views/TestSuites/pages/EvaluationDetailPage.tsx
  frontend/src/views/TestSuites/pages/EvaluationsPage.tsx
Due: azure-pipelines-frontend.yml

refactor: enhance knowledge base synchronization and error handling
  backend/app/api/v1/routes/agent_knowledge.py
  backend/app/core/utils/encryption_utils.py
  backend/app/services/datasources.py
  backend/app/tasks/kb_batch_tasks.py
  backend/app/tasks/zendesk_article_sync_tasks.py
  backend/openapi.json
  frontend/src/views/KnowledgeBase/pages/KnowledgeBaseForm.tsx
  frontend/src/views/KnowledgeBase/types/knowledgeBase.ts
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

delete all associated runs when deleting an evaluation, with warning
  backend/app/repositories/test_suite.py
  backend/app/services/test_suite.py
  frontend/src/views/TestSuites/pages/EvaluationsPage.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

fix migration order
  backend/alembic/versions/00056_test_suites.py
  backend/alembic/versions/00057_make_test_suite_workflow_optional.py
  backend/alembic/versions/00058_add_execution_trace_to_test_results.py
  backend/alembic/versions/00058_test_evaluations.py
Due: azure-pipelines-backend.yml

should last 4 in evaluation case test list instead of first characters of id which are identical
  frontend/src/views/TestSuites/pages/EvaluationDetailPage.tsx
Due: azure-pipelines-frontend.yml

change import button style to icon only
  frontend/src/views/TestSuites/pages/DatasetsPage.tsx
Due: azure-pipelines-frontend.yml

change id to last 4 instead of first chars
  frontend/src/views/TestSuites/pages/DatasetDetailPage.tsx
Due: azure-pipelines-frontend.yml

feat: add user retrieval by username or email
  backend/app/repositories/users.py
  backend/app/services/auth.py
  backend/app/services/users.py
Due: azure-pipelines-backend.yml

use same view for messages as in the chat interface in conversations
  frontend/src/views/TestSuites/pages/DatasetsPage.tsx
Due: azure-pipelines-frontend.yml

fix: add beta to menu
  frontend/src/layout/app-sidebar.tsx
Due: azure-pipelines-frontend.yml

move the import messaged from conversation in the dataset list and put a warning that it will replace all previous ones
  backend/app/api/v1/routes/test_suites.py
  backend/app/repositories/test_suite.py
  backend/app/schemas/test_suite.py
  backend/app/services/test_suite.py
  backend/openapi.json
  frontend/src/services/testSuites.ts
  frontend/src/views/TestSuites/pages/DatasetDetailPage.tsx
  frontend/src/views/TestSuites/pages/DatasetsPage.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

add import config dialog
  frontend/src/views/TestSuites/pages/DatasetDetailPage.tsx
Due: azure-pipelines-frontend.yml

feat: deduplicate user emails before enforcing unique constraint
  backend/alembic/versions/00060_users_email_unique_active.py
Due: azure-pipelines-backend.yml

Path conditions:
  azure-pipelines-backend.yml: any of: backend
  azure-pipelines-frontend.yml: any of: frontend
